@model MobileShop.Models.Repair

@{
    ViewData["Title"] = "Details";
}
<!--Text-align center to h1 & h4-->
<h1 style="text-align:center;">Details</h1>

<div>
    <h4 style="text-align:center;">Repair</h4>
    <hr />
    <dl class="row" style="background-color:lightcyan; padding-left:300px; padding-right:300px; ">
        <!-- holds backgroundcolor-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigrationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigrationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefectInPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefectInPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRepairable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRepairable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
